
header{
    width: 100rem;
    justify-content: center;
    background-color: cornflowerblue;
}
main{
    background-color: rgb(173, 242, 219);
}
.fish__image{
    display:flex;
    flex-wrap: wrap;
    background-color: midnightblue;
    height: 100px;
    width: 175px; 
} 
#fish_title{
    display: flex;
    justify-content: center;
}
#quotes{
columns: 1;
}
#footer {
    background-color: darkcyan;
    bottom: 0;
    width: 100rem;
    height: 2.5rem;            /* Footer height */
  }
  .notes{ 
    background-color: coral; 
    width: 10rem;
    float: right;
    display: flex;
    flex-direction: column;
   
   
}.card {
    border: 1px solid black;
    margin: 1em;
    display: flex;
    
    flex-flow:row wrap;
}

.card_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}